body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

<<<<<<< HEAD
<<<<<<< HEAD
.andrews-title {
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    color: red;
}

.list-title {
    text-align: center;
    font-size: 40px;
}

.andrews-list {
    text-align: center;
=======
=======
.sr-picture{
    width: 200px;
>>>>>>> 11c7e6bb3327fa25b06b70a3a4bd924e368c6996
.best {
    color: pink;
}

.amazig {
    background-image: url(http://www.geocities.ws/mommy9876/Mommy9876sPlace/backs/bluebubblebg.gif);
}

.amazig .best:hover {
    font-size: 13em;
>>>>>>> 166abedff8fd7e5df176ba3efa808232f7389f21
}